.our_services_container .inner_services_container {
  margin: 0 auto;
  text-align: center;
}
.our_services_container .inner_services_container .services_head h2 {
  padding-bottom: 20px;
}
.our_services_container .inner_services_container .services_head h3 {
  padding-bottom: 20px;
}
.our_services_container .inner_services_container .services_head p {
  max-width: 668px;
  width: 100%;
  margin: 0 auto;
}
.our_services_container .inner_services_container .services_body .inner_services_body {
  margin-top: 145px;
  margin-bottom: 220px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row {
  text-align: left;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .cloud_content {
  margin-right: 100px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .cloud_content h2 {
  padding-bottom: 12px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .cloud_content h3 {
  padding-bottom: 12px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .cloud_content p {
  padding-bottom: 40px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .cloud_content.right_content {
  margin-right: 0;
  margin-left: 100px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .service_img {
  position: relative;
  width: 371px;
  height: 328px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .left_download {
  position: absolute;
  top: 50px;
  left: -50px;
  background: var(--primary);
  color: var(--white);
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .left_download .inner_left_download {
  padding: 20px;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  max-width: 236px;
  width: 100%;
  min-height: 212px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .left_download .inner_left_download h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 8px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .left_download .inner_left_download h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 47px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .left_download .inner_left_download a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  color: var(--white);
  position: absolute;
  bottom: 20px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .left_download .inner_left_download a img {
  width: 27px;
  height: 18px;
  margin-right: 12px;
}
.our_services_container .inner_services_container .services_body .inner_services_body .cloud_row .inner_cloud_row .left_download.right_download {
  right: -50px;
  left: unset;
}

.community_section {
  max-width: 1288px;
  margin: 0 auto;
  width: 100%;
}
.community_section .feeback_container h2 {
  color: var(--primary);
  padding-bottom: 12px;
}
.community_section .feeback_container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.community_section .inner_community_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.community_section .inner_community_wrapper .community_carousel {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  width: 100%;
}
.community_section .inner_community_wrapper .community_carousel .variable-width h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--primary);
}
.community_section .inner_community_wrapper .community_carousel .variable-width .community_content {
  background-color: var(--primary);
  padding: 43px 48px 43px 36px;
  border-radius: 4px;
}
.community_section .inner_community_wrapper .community_carousel .variable-width .community_content h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}

.subtitle,
.main_title {
  color: var(--primary);
}

.row_1 {
  padding-bottom: 116px;
}

.row_2 {
  padding-bottom: 150px;
}/*# sourceMappingURL=ourServices.css.map */