:root{
    --font39: 39px;
    --font36: 36px;
    --font48: 48px;
    --headingparacolor: #000000;
    --font20: 20px;
    --font22: 22px;
    --font24: 24px;
    --font14: 14px;
    --font18: 18px;
    --primary: #00009D;
    --black: #242525;
    --white: #FFFFFF;
}
$font: 'Bw Modelica', sans-serif;