.btn {
    border-radius: 8px;
    background-color: transparent;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid var(--primary);
    outline: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary);
    padding: 14px 40px;
    transition: 0.3s all ease-out;
    position: relative;
  }
  

  .btn_blue {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
    border-radius: 4px;
    padding: 12px 0;
    max-width:212px;
    width:100%;
    &:hover{
        box-shadow: 0px 8px 16px 0 rgba(0, 153, 46, 0.25);
        color: var(--white);
    }
  }
  
  