@import '_variable';
@import '_mixins';
@import '../scss/individual/ourServices.scss';
@import '../scss/common.scss';
@import '../scss/button.scss';
@import '../scss/typography.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
ul,li,h1,h2,h3,h4,h5,h6,p,img {
    margin: 0;
    padding: 0;
}
.card_body::-webkit-scrollbar {
    width: 12px;               
  }
  
  .card_body::-webkit-scrollbar-track {
    background: transparent;       
  }
  
  .card_body::-webkit-scrollbar-thumb {
    background-color: transparent;    
    border-radius: 20px;      
    border: 3px solid transparent;
  }
